<div class="header pink accent-4">
    <div class="container header__flexbox">
        <img class="header__logo" src="images/gilb-logo.png" height="60px"></img>
        <div class="header__title">GILB</div>
    </div>
</div>

<div class="header__mood-section ">
    <div class="header__mood-rows">
        <div class="header__mood-row">
            <img src="https://avatars.dicebear.com/api/avataaars/test.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test1.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test2.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test3.svg" alt="" height="80" width="80">
            {{!-- <img src="https://avatars.dicebear.com/api/avataaars/test4.svg" alt="" height="80" width="80"> --}}

            {{!-- <img src="https://avatars.dicebear.com/api/avataaars/test00.svg" alt="" height="80" width="80"> --}}
            <img src="https://avatars.dicebear.com/api/avataaars/test11.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test22.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test33.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test44.svg" alt="" height="80" width="80">
        </div>
        <div class="header__mood-row">

            <img src="https://avatars.dicebear.com/api/avataaars/test51.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test6.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test7.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test8.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test9.svg" alt="" height="80" width="80">


            <img src="https://avatars.dicebear.com/api/avataaars/test55.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test66.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test77.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test88.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/test99.svg" alt="" height="80" width="80">
        </div>
    </div>

    <span class="header__mood-title ">GILB & FRIENDS PRESENTS</span>
</div>