<div class="header pink accent-4">
    <div class="container header__flexbox">
        <img class="header__logo" src="images/gilb-logo.png" height="60px"></img>
        <div class="header__title">GILB</div>
    </div>
</div>

<div class="header__mood-section ">
    <div class="header__mood-rows container">
        <div class="header__mood-row">
            <img src="https://avatars.dicebear.com/api/avataaars/testa1.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa2.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa3.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa4.svg" alt="" height="80" width="80">
            {{!-- <img src="https://avatars.dicebear.com/api/avataaars/test4.svg" alt="" height="80" width="80"> --}}

            {{!-- <img src="https://avatars.dicebear.com/api/avataaars/test00.svg" alt="" height="80" width="80"> --}}
            <img src="https://avatars.dicebear.com/api/avataaars/testa5.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa6.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa7.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa8.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa9.svg" alt="" height="80" width="80">

            <img src="https://avatars.dicebear.com/api/avataaars/testa10.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa11.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa12.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testa13.svg" alt="" height="80" width="80">
        </div>
        <div class="header__mood-row">
            <img src="https://avatars.dicebear.com/api/avataaars/testb1.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb2.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb3.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb4.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb5.svg" alt="" height="80" width="80">

            <img src="https://avatars.dicebear.com/api/avataaars/testb6.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb7.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb8.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb9.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb10.svg" alt="" height="80" width="80">


            <img src="https://avatars.dicebear.com/api/avataaars/testb11.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb12.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb13.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb14.svg" alt="" height="80" width="80">
            <img src="https://avatars.dicebear.com/api/avataaars/testb15.svg" alt="" height="80" width="80">
        </div>
    </div>

    <span class="header__mood-title container">GILB & FRIENDS PRESENTS</span>
</div>