<div class="header pink accent-4">
    <div class="container header__flexbox">
        <img src="images/gilb-logo.png" height="80px"></img>
        <div class="header__title">GILBINATOR</div>
        {{!-- <div class="header__title">KARDINALITÄTSMAXIMALES MATCHING</div> --}}

    </div>
</div>