<div class="container present-block">
    <div>
        <div class="present-block__headline">Gilb Algorithmus 🪄</div>
        <div class="present-block__sub-headline">aka Ford-Fulkerson</div>
    </div>
</div>
<div class="container controls">
    <div class="row">
        <div class="col s12 controls__section-text">
            <div>
                Der Algorithmus berechnet das maximale Matching!
            </div>
            <div>
                Wähle eine Schwierigkeit um dafür einen zufälligen Graphen zu generieren.
            </div>
        </div>

    </div>
    <div class="row ">
        <div class="col s3">
            <div class="controls__start-button" id="graph-start-algo">
                <div class="controls__start-button-text">Starte Gilbinator</div>
                <img src="images/play-arrow.svg" height="30px"></img>
            </div>

            <div class="hide-button" id="graph-replay-algo">
                <div class="controls__start-button-text">Zurücksetzen</div>
                <img src="images/replay.svg" height="30px"></img>
            </div>
        </div>
    </div>
    <div class="row controls__section">
        <div class="col s3">
            <div class="controls__level-button" id="graph-easy-button">
                Leicht
                <div class="controls__level-stars">
                    <img class="controls__level-star" src="images/star.png"></img>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="controls__level-button" id="graph-medium-button">
                Mittel
                <div class="controls__level-stars">
                    <img class="controls__level-star" src="images/star.png"></img>
                    <img class="controls__level-star" src="images/star.png"></img>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="controls__level-button" id="graph-hard-button">
                Schwer
                <div class="controls__level-stars">
                    <img class="controls__level-star" src="images/star.png"></img>
                    <img class="controls__level-star" src="images/star.png"></img>
                    <img class="controls__level-star" src="images/star.png"></img>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="controls__level-button" id="graph-ultra-button">
                Ultra
                <div class="controls__level-stars">
                    <img class="controls__level-star" src="images/star.png"></img>
                    <img class="controls__level-star" src="images/star.png"></img>
                    <img class="controls__level-star" src="images/star.png"></img>
                    <img class="controls__level-star" src="images/star.png"></img>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <span id="maximum-matches-display" class="controls__items">X</span>
            <span class="controls__items">Matches gefunden!</span>
        </div>
    </div>
</div>

<div class="container row controls-headlines">
    <div class="col s6">
        <div class="headline__students">
            Studenten
        </div>
    </div>
    <div class="col s6">
        <div class="headline__grannies">
            Grannies
        </div>
    </div>
</div>

<div class="container graph-container">
    <svg width="960" id="gilbinator-graph"></svg>
</div>