.present-block{
    display: flex;
    justify-content: center;
    border-top: 2px solid;
    padding: 20px 0;
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: #c51162;
    color: white;
}

.present-block__headline{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 30px;
    text-align: center;
}

.present-block__sub-headline{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 18px;
    text-align: center;
}

.controls{
    padding: 15px 0 15px 0;
}

.controls__section{
    margin: 10px 0 25px 0;
}

.controls__section-text{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.controls__items{
    font-size: 15px;
}

#maximum-matches-display{
    font-weight: bold;
}

#graph-start-algo,
#graph-replay-algo{
    margin-bottom: 20px;
}

.controls__start-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0 ;
    padding: 20px;
    cursor: pointer;
}

.controls__start-button:hover{
    background-color: #1976d2;
    color: white;
}

.controls__start-button-text{
    margin-right: 10px;
}

.controls__level-buttons{
    display: flex;
}

.controls__level-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0 ;
    padding: 20px;
    cursor: pointer;
}

.controls__level-stars{
    display: flex;
}

.controls__level-star{
    height: 25px;
}

.controls__level-button:hover{
    background-color: #1976d2;
    color: white;
}

.controls-headlines{
    text-align: center;
    color: white;
    font-size: 20px;
}

.controls-headlines > div{
    padding: 0;
}

.headline__students{
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #1976d2;
    padding: 15px 0;
}

.headline__grannies{
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #c51162;
    padding: 15px 0;
}


@media only screen and (max-width: 1150px) {
    .controls__level-star{
        height: 18px;
    }
  }